<form method="POST" action="/auth/signin" class="d-flex justify-content-center my-2 mx-5">
  <input name="email" placeholder="email" type="email" />
  <input name="password" placeholder="password" type="password" />
  <button>Sign in</button>
</form>